@navBlack: #1D1D1D;
@black: #000;
@offWhite: #F8F8F8;
@white: #fff;
@lightBlue: #2D69FF;


nav.navbar-smashwise {
  background-color: @navBlack;
  border-radius: 0;

  a.navbar-brand {
    color: @offWhite;

    &:hover {
      color: @lightBlue;
    }
  }

  ul.navbar-nav li a {
    color: @offWhite;

    &:hover {
      background-color: transparent;
      color: @lightBlue;
    }
  }
}
